* {
  font-family: Roboto;
}

.input-container {
  border: 2px solid rgba(128, 128, 128, 0.404);
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  transition: border-color 0.3s ease;
  cursor: pointer;
}

.input-container.checked {
  border-color: cadetblue;
  background-color: rgba(95, 158, 160, 0.192);
}

.input-container input {
  display: none;
}

strong {
  color: red;
  font-weight: bolder;
}

fieldset {
  border: 0px
}

button {
  font-family: inherit;
  border: 2px solid rgba(128, 128, 128, 0.404);
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

button:active {
  color: rgb(30, 50, 51);
  transform: scale(0.95);
}

button:hover {
  border-color: cadetblue;
  background-color: rgba(95, 158, 160, 0.192);
}